body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 0.5fr;
  justify-items: center;
  --basic-blue: rgb(61, 133, 226);
  background-color: var(--basic-blue);
  color: aliceblue;
}

.player-info {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 50px;
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

.name-form input {
  height: 1.5rem;
  border: none;
}

.change-starter {
  padding: 30px 0;
}

.entire-board {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 40rem;
  height: 40rem;
}

.restart-button {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  height: 3rem;
  width: 6rem;
}

.add-names-button,
.change-starter-button {
  height: 2rem;
  width: 100%;
}

.restart-button,
.add-names-button,
.change-starter-button {
  border-radius: 15px;
  border: none;
  color: var(--basic-blue);
  align-self: center;
}

.winner-container {
  grid-column: 2 /3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-div {
  height: 5rem;
  font-size: 3rem;
  grid-column: 2 / 3;
}

.select-button {
  font-size: 3rem;
  border: solid 5px var(--basic-blue);
}

.select-button#a1 {
  border-top-left-radius: 15px;
}

.select-button#a3 {
  border-top-right-radius: 15px;
}

.select-button#c1 {
  border-bottom-left-radius: 15px;
}

.select-button#c3 {
  border-bottom-right-radius: 15px;
}

.scoreboard-container {
  grid-column: 3/4;
  grid-row: 2 / 4;
  height: 90%;
  width: 100%;
  padding: 50px;
  text-align: center;
}

.scoreboard {
  height: 400px;
  width: 100%;
  overflow-y: auto;
  background-color: aliceblue;
  color: var(--basic-blue);
  padding: 10px;
  border-radius: 15px;
  text-align: start;
}
