body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entire-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 40rem;
  height: 40rem;
}
